<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="not-found-container">
      <div class="center-content">
        <h1>OOPS, page not found :)</h1>
        <button class="btn center-btn"><a href="/blogs">Find available blogs</a></button>
      </div>
    </div>
  </body>
</html>
